.header-container {
  display: flex;
  justify-content: center;
  background-color: #ffe619;
  height: 10vh;
}

.header-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  width: 90%;
  max-width: 1200px;
}

.icon-name {
  display: none;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .icon-name {
    display: inline;
  }
  .icon {
    margin-right: 7px;
  }
}

.icon:hover {
  color: gray;
}

.logo-container {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 30px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 10px;
}

.nav-items-container {
  display: flex;
}

.cart-count-badge {
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 8px;
  padding: 4px;
}
